{
	admin off
	auto_https off
}

{$PORT:8000} {
	encode gzip

	# Streamlit slots (websockets vía reverse_proxy)
	@st1 path /st/1 /st/1/*
	handle @st1 {
		reverse_proxy 127.0.0.1:8501
	}
	@st2 path /st/2 /st/2/*
	handle @st2 {
		reverse_proxy 127.0.0.1:8502
	}
	@st3 path /st/3 /st/3/*
	handle @st3 {
		reverse_proxy 127.0.0.1:8503
	}
	@st4 path /st/4 /st/4/*
	handle @st4 {
		reverse_proxy 127.0.0.1:8504
	}
	@st5 path /st/5 /st/5/*
	handle @st5 {
		reverse_proxy 127.0.0.1:8505
	}
	@st6 path /st/6 /st/6/*
	handle @st6 {
		reverse_proxy 127.0.0.1:8506
	}
	@st7 path /st/7 /st/7/*
	handle @st7 {
		reverse_proxy 127.0.0.1:8507
	}
	@st8 path /st/8 /st/8/*
	handle @st8 {
		reverse_proxy 127.0.0.1:8508
	}

	# Plataforma PHP
	handle {
		reverse_proxy 127.0.0.1:8001
	}
}
